body {
  font-family: "Inter", sans-serif;
  background-color: #eeeeee;
  color: #31363f;
}

.page {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.navbar {
  border: 1px solid #31363f;
  border-radius: 4px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.navbar ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  gap: 1rem;
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: #76ABAE;
  font-weight: 500;
}

section#hero {
  display: grid;
  grid-template-rows: repeat(4, auto);
  border: 1px solid #31363f;
  border-radius: 4px;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

section#hero .hero-greetings {
  display: flex;
  justify-content: center;
  align-items: center;
}

section#hero .hero-greetings p,
h1 {
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

section#hero .hero-photo {
  display: flex;
  justify-content: center;
}

section#hero .hero-photo img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
}

section#hero .hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section#hero .hero-text h2 {
  margin: 0;
  padding: 1rem;
}

section#hero .hero-text p {
  margin: 0;
  padding-top: 0;
  padding-bottom: 1rem;
}

section#hero .cta-buttons {
  display: flex;
  justify-content: space-between;
}

section#hero .cta-buttons button {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

section div.project {
  border: 1px solid #31363f;
  border-radius: 4px;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

section#projects h2 {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

section#work-experience h2 {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

section#work-experience ul {
  padding-left: 0;
}

section#work-experience ul li {
  list-style: none;
  border: 1px solid #31363f;
  border-radius: 4px;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

section#education h2 {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

section#education ul {
  padding-left: 0;
}

section#education ul li {
  list-style: none;
  border: 1px solid #31363f;
  border-radius: 4px;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

section#skills div.skills-container {
  display: grid;
  grid-template-rows: repeat(4, auto);
}

section#skills h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

section#skills div.skills-container h3 {
  margin: 0;
}

section#skills div.skills-container .frontend,
.backend,
.database-orm,
.tools {
  display: flex;
  flex-direction: column;
}

section#skills div.skills-container .icon-card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  border: 1px solid #31363f;
  border-radius: 4px;
  margin: 0rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: auto;
  width: 100%;
}

section#skills div.skills-container .icon-card .card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: auto;
}

section#skills div.skills-container .icon-card p {
  text-align: center;
  margin: 0;
}

section#skills div.skills-container div.frontend div.icon-card div.icon-info img {
  width: 50px;
  max-width: 70px;
  height: auto;
}

section#about-me h2,
section#certifications h2 {
  text-align: center;
  margin: 1rem 0 1rem 0;
}

section#certifications ul {
  padding-left: 1rem;
}

section#contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

section#contact a {
  background-color: rgb(219, 219, 219);
  border: 2px solid #31363F;
  border-radius: 6px;
  padding: 0.5rem 1rem;
}

footer .social a img {
  width: 50px;
  max-width: 100%;
}