body {
  font-family: "Inter", sans-serif;
  background-color: #eeeeee;
  color: #31363f;
}

.page {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 1rem;
  margin: 0;
  padding: 0;
}
